.f-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #59b256;
}

.f-items{
    justify-content: center;
    align-items: center;
}


.f-links{
    font-size: 2rem;
    text-decoration: overline;
}

a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

img{
    width: auto;
    height: auto;
}

@media screen  and (max-width: 768px) {
    .f-bg{
        height: auto;
    }
    .f-wrapper{
        margin-top: 5rem;
        gap: 4rem;
        display: flex;
        width: 90%;
    }
}